@model SIP.Models.PemilikKendaraan

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>PemilikKendaraan</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.NoKTP, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NoKTP)
                @Html.ValidationMessageFor(model => model.NoKTP)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NoNPWP, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NoNPWP)
                @Html.ValidationMessageFor(model => model.NoNPWP)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Nama, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nama)
                @Html.ValidationMessageFor(model => model.Nama)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Alamat, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Alamat)
                @Html.ValidationMessageFor(model => model.Alamat)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.KodePos, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.KodePos)
                @Html.ValidationMessageFor(model => model.KodePos)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
